# group_vars/admin.yml

# Use system Python that plays nicest with dnf/dnf5
ansible_python_interpreter: /usr/bin/python3

# Developers
dev_users:
  - name: cdeever
    primary_group: cdeever
    extra_groups:
      - wheel
    home: /home/cdeever
    github_keys_url: "https://github.com/cdeever.keys"

# Artifacts root directory
nginx_artifacts_root: /srv/dvntm-http

# Public key for auto-provisioning
artifacts_ssh_keys:
  - name: "a_autoprov_rsa"
    dest_subdir: "keys/ssh"
    dest_filename: "a_autoprov_rsa.pub"
    public_key: >
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDH0P+q70lYeENaVvzv9Dikc6Pk+DSgZ7it2BMXK2k0hvYJZlJKmrwlLMhhK5y9uGRWHjrKqUQHzgmy04wyJJNqlpik3eQnz3odo1HPONfZhZPkvuZO1wN0oN42w34pW9h1ZYz09A1HjRv9N3gj4ZaaiIHG1u+SHa3ywfB3lxMIhGRM1yZAPmlKGqcEULqihvsEi9L6u9inwb6bhXwcVOkXm2KIIaJ/moWKA0XfSP3dRw4KdaU6m3V+0P0wRxmkQbT6KVTYwkz4DTCWfQ7zQFeyKaUJVlQdAEuN1UV/pJcaX2MExIG3R+k6FF8cOwECFSxWz3IjNSspLUh+Jm7ZOq8eNxdJzp4W73razcO+pL2/kL7lYwM/7wqDxq1T/J4NVJbv5rT+r2aANpcvaE7AoB8lTOYWPm+a8SmAnRwZ9aCms1z4W6WNpoTWeK2VM+Zc+6X5ZOyVlbYPKy8abEOHc0TFuGuaAfewRJ0Ovh4sL6W5BKbvBpmI9w47/NM/017GvFa3njH6rkR+tWyDby6siqvQcpSYc7czkCGRu325ewhvoTr7t3Ew5A0WLG+XzF0khsiOdXKnk7UEQC6wsmXszW94nHtdjbH8FB0A5Z9b4zvJrOFucIaU0SxHUnZKpbgvwWxLfkQ7BDs7G8RsBGQDrnD8LGsWxtaiD2W39cVcQQVwBw== a_autoprov@vdvntm-admin-01

# Artifacts that admin hosts (artifact servers) should host under nginx_artifacts_root
artifacts_to_fetch:

  # ---------------------------------------------------------
  # Fedora Server 43 (netinst, x86_64)
  # ---------------------------------------------------------
  - name: "fedora-server-43-netinst-x86_64"
    type: "fedora_iso"
    iso_url: "https://download.fedoraproject.org/pub/fedora/linux/releases/43/Server/x86_64/iso/Fedora-Server-netinst-x86_64-43-1.6.iso"
    checksum_url: "https://download.fedoraproject.org/pub/fedora/linux/releases/43/Server/x86_64/iso/Fedora-Server-43-1.6-x86_64-CHECKSUM"
    gpg_key_url: "https://fedoraproject.org/fedora.gpg"
    dest_subdir: "iso/fedora/43.1-6"
    dest_filename: "Fedora-Server-netinst-x86_64-43-1.6.iso"

  # ---------------------------------------------------------
  # Pi OS Lite (Trixie, ARM64, 2025-11-24)
  # ---------------------------------------------------------
  - name: "raspios-trixie-arm64-lite-2025-11-24"
    type: "generic"
    url: "https://downloads.raspberrypi.com/raspios_lite_arm64/images/raspios_lite_arm64-2025-11-24/2025-11-24-raspios-trixie-arm64-lite.img.xz"
    sha256: "1d448a6e665e1ae8100bc28b35408619ec626a2fddfd6579ec99e7996fa09a56"
    dest_subdir: "pi-images/2025-11-24"
    dest_filename: "2025-11-24-raspios-trixie-arm64-lite.img.xz"

  # ---------------------------------------------------------
  # Pi OS Lite (Bookworm Legacy, ARM64, 2025-11-24)
  # ---------------------------------------------------------
  - name: "raspios-bookworm-arm64-lite-2025-11-24"
    type: "generic"
    url: "https://downloads.raspberrypi.com/raspios_oldstable_lite_arm64/images/raspios_oldstable_lite_arm64-2025-11-24/2025-11-24-raspios-bookworm-arm64-lite.img.xz"
    sha256: "e6a69b5a5a8cd4afc0e9dbdc8404f6fed7c93e0d1796f438e7c780e0eac2d482"
    dest_subdir: "pi-images/2025-11-24"
    dest_filename: "2025-11-24-raspios-bookworm-arm64-lite.img.xz"

