  # Optional customizations
  omada_image_tag: "5.12"
  omada_env_vars:
    - "TZ=America/New_York"
    - "MANAGE_HTTP_PORT=8088"
    - "MANAGE_HTTPS_PORT=8043"
    - "PORTAL_HTTP_PORT=8088"
    - "PORTAL_HTTPS_PORT=8843"
    - "SHOW_SERVER_LOGS=true"
    - "SHOW_MONGODB_LOGS=false"